.footer {
   position: relative;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   gap: 1em;
   background-color: $backgroundColor;
   padding-top: 250px;
   padding-bottom: 50px;
   color: $colorBlue;

   img {
      width: 60px;

      @include point-up(large) {
         width: 100px;
      }
   }

   &_links {
      display: flex;
      flex-direction: column;
      gap: 1em;

      @include point-up(large) {
         width: 100%;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         gap: 0;
         padding: 0 7em;
      }

      p {
         font-family: $font-text;
         font-size: 1.5em;
         font-weight: bold;
      }

      &_social {
         display: flex;
         gap: 1em;

         a {
            font-size: 1.5em;
            transition: all 0.5s ease-in-out;

            &:hover {
               color: $thickBlue;
               transform: scale(1.5);
            }
         }
      }
   }

   .line {
      width: 100%;
      height: 1px;
      background-color: $color-shadow;
   }

   &_copyright {
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 1px;

      @include point-up(large) {
         align-self: flex-end;
      }
   }

   .footercard {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #323d7d;
      padding: 2em;
      border: 10px solid $thickBlue;
      border-image: repeating-linear-gradient(
            45deg,
            #323d7d,
            #323d7d 1%,
            white,
            white 5%,
            #a24558 1%,
            #a24558 8%
         )
         10;
      //   border-image: none;
      border-radius: 10px;
      box-shadow: 0 3px 8px $color-shadow;
      text-align: center;

      min-width: 300px;
      max-width: 850px;

      @include point-up(xlarge) {
         display: grid;
         grid-template-columns: 1fr 1fr;
         align-items: center;
         gap: 1.5em;

         //  border: 10px solid;
         //  border-image: url("../Assets/postcard_frame_1.png") 62 /12% 5% / 10px 10px
         //     20px 10px round;
      }

      img {
         width: 100%;
         text-align: center;
         display: none;

         @include point-up(xlarge) {
            display: block;
         }
      }

      &_content {
         display: flex;
         flex-direction: column;
         gap: 1em;
         font-family: $font-text;

         h3 {
            color: $backgroundColor;
            font-size: 1.5em;
            font-family: $font-head;
         }

         p {
            color: $backgroundColor;
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: 1px;

            @include point-up(medium) {
               font-size: 1.2rem;
            }
         }

         a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            // font-size: 1.2em;
            font-weight: bold;
            padding: 0.5em;
            // background-color: $backgroundColor;
            font-size: 1.5rem;
            border-bottom: 1px solid $backgroundColor;
            border-left: 1px solid $backgroundColor;
            // max-width: 200px;
            color: $backgroundColor;

            @include point-up(large) {
            }

            &:hover {
               border: none;
               box-shadow: 0 3px 6px $color-shadow;
            }
         }
      }
   }
}
