* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   //    background-color: $backgroundColor;
}

a {
   text-decoration: none;
   color: inherit;
}

.section {
   padding-inline: 2em;

   @include point-up(medium) {
      padding-inline: 4em;
   }
}
