.project {
   padding-top: 100px;
   padding-bottom: 200px;
   color: $colorBlue;
   font-family: $font-text;

   h1 {
      text-align: center;
      font-family: $font-head;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1em;
      color: $thickBlue;

      @include point-up(medium) {
         font-size: 2.5rem;
      }
   }

   &_container {
      display: grid;
      justify-content: center;
      gap: 2em;

      @include point-up(large) {
         grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
      }
   }
   &_card {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      //   align-items: center;
      flex-direction: column;
      background-color: $backgroundColor;
      gap: 1.5em;
      border-radius: 8px;
      height: 100%;
      box-shadow: 0 2px 4px $color-shadow;
      transition: all 0.5s ease-in-out;

      &:hover {
         box-shadow: 0 3px 6px $color-shadow;
         transform: scale(1.05);
      }

      img {
         border-top-right-radius: 8px;
         border-top-left-radius: 8px;
         width: 100%;
      }

      &_container {
         padding: 0 1em 1em 2em;

         h3 {
            font-family: $font-head;
            color: $thickBlue;
            font-size: 1.5rem;
            margin-bottom: 0.5em;
         }

         p {
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: 1px;

            @include point-up(medium) {
               font-size: 1.2rem;
            }
         }
      }

      &_preview {
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         flex-direction: column;
         gap: 1em;
         padding: 0 1em 1em 2em;
         line-height: 1.5;
         letter-spacing: 1px;

         @include point-up(large) {
            justify-content: space-between;
            flex-direction: row;
         }

         a {
            display: flex;
            align-items: center;
            text-decoration: underline;
            transition: color 0.5s ease-in-out;

            &:hover {
               color: $thickBlue;
               //    transform: scale(1.05);
            }

            svg {
               margin-right: 0.5em;
            }
         }
      }
   }
}
