.sidebar {
   position: absolute;
   top: 0;
   right: 0;
   background-color: $backgroundColor;
   width: 100vw;
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   animation: slide-in 0.5s ease-in-out;
   box-shadow: 0 3px 6px $color-shadow;

   @include point-up(large) {
      display: none;
   }

   &_links {
      display: flex;
      align-items: center;
      list-style: none;
      flex-direction: column;
      color: $colorBlue;
      font-family: $font-head;
      font-weight: bold;

      li {
         position: relative;
         cursor: pointer;
         font-size: 20px;

         &::before {
            content: "";
            position: absolute;
            width: 60px;
            height: 3px;
            top: 30px;
            left: 0px;
            background-color: $colorBlue;
            transition: transform 0.3s ease-in-out;
            transform: scale(0);
         }

         &:hover {
            &::before {
               transform: scale(1);
            }
         }

         &:nth-child(2),
         &:nth-child(3) {
            &::before {
               width: 90px;
            }
         }
      }

      li:not(:last-child) {
         margin-bottom: 1.5em;
      }

      li:last-child {
         color: $backgroundColor;
         background-color: $colorBlue;
         padding: 0.8em 1em;
         border-radius: 5px;

         &::before {
            content: none;
         }
      }
   }

   &_close {
      position: absolute;
      top: 2em;
      right: 3em;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      gap: 5px;

      svg {
         color: $colorBlue;
         font-size: 2em;
      }
   }
}
