.skills {
   background-color: $backgroundColor;
   padding-block: 80px;
   color: $colorBlue;
   border-top-right-radius: 200px;

   h1 {
      text-align: center;
      font-family: $font-head;
      font-size: 2rem;
      font-weight: 700;
      margin: 0.5em 0;
      color: $thickBlue;

      @include point-up(medium) {
         font-size: 2.5rem;
      }
   }

   &_card {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2em;
      margin-top: 1em;
      font-family: $font-text;

      @include point-up(large) {
         flex-direction: row;
         gap: 4em;
      }

      .card {
         //  width: 400px;
         //  min-width: 375px;
         max-width: 450px;
         padding: 2em 1em;
         box-shadow: 0 3px 6px $color-shadow;
         border-radius: 8px;
         text-align: center;
         transition: transform 0.5s ease-in-out;

         &:hover {
            transform: scale(1.05);
         }
         &_skills {
            // display: grid;
            gap: 0.5em;
         }

         &_skill {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 0.5em;

            background-color: $colorBlue;
            color: $backgroundColor;
            padding: 0.5em 1em;
            border-radius: 10px;
            font-size: 1rem;

            @include point-up(large) {
               font-size: 1rem;
            }

            &:not(:last-child) {
               margin-right: 1em;
               margin-bottom: 1em;
            }
         }

         @include point-up(large) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 450px;
            // height: 600px;
         }

         h3 {
            margin-bottom: 0.5em;
            color: $thickBlue;
            font-size: 1.5rem;
         }

         h4 {
            margin-bottom: 0.5em;
            color: $thickBlue;
            font-size: 1.5rem;
         }

         p {
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: 1px;
            margin-bottom: 0.5em;
            max-width: 400px;

            @include point-up(medium) {
               font-size: 1.2rem;
            }
         }

         img {
            width: 80%;
            margin-bottom: 1em;
         }
      }
   }

   svg {
      font-size: 2em;
   }

   svg:not(:last-child) {
      margin-right: 0.5em;
   }
}
