//colors
$backgroundColor: #fbeaeb;
$colorBlue: #2f3c7e;
$thickBlue: #041776;
$colorWhite: #fff;
$color-dark: #0b0d17;
$color-shadow: rgba(0, 0, 0, 0.5);
$color-hover: rgba(255, 255, 255, 0.75);

//font
$font-head: "Merriweather Sans", sans-serif;
$font-text: "Open Sans", sans-serif;

//font-size
$font-small: "14px";
$font-medium: "1rem";
